.cartScreen {
  margin-top: 70px;
}

.cartScreen__nav {
  display: flex;
  background-color: white;
  padding: 10px 10px 10px 10px;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 6;
}

.cartScreen__backButton {
  position: absolute;

  color: rgb(112, 112, 112);
  border-radius: 5px;
  border: 2px solid rgb(179, 179, 179);
  width: 26px;
  height: 26px;
}

.cartScreen__back {
  width: 14px !important;
  text-align: center;
  padding-left: 1px;
  margin-top: -2px;
}

.cartScreen__myCart {
  font-size: 1.2rem;
  color: rgb(112, 112, 112);
  width: 100%;
  text-align: center;
}

.cartScreen__products {
  margin: 10px;
  margin-top: 0;
}

.cartScreen__subtotal {
  position: absolute;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cartScreen__emptyCart {
  font-size: 1.2rem;
  color: rgb(112, 112, 112);
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.extraSpace {
  height: 180px;
}
