@font-face {
    font-family: mainFont;
    src: url('./../../fonts/Supercarver.otf');
}
@font-face {
    font-family: boldFont;
    src: url('./../../fonts/theboldfont.ttf');
}

.about {
    width: 340px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 40px;
    margin-bottom: 40px;
}

.about__titleContainer {
    display: flex;
    justify-content: center;
}

.about__title1 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 6px;
    font-family: boldFont;
}
.about__title2 {
    font-family: mainFont;
    font-size: 1.4rem;
    margin-left: 10px;
    text-align: center;
}


.about__container {
    display: flex;
    flex-direction: column;
}

.about__img {
    height: 240px;
    border-radius: 3px;
}

.about__paragraph {
    padding-top: 12px;
}

.about__container > p > span {
    font-family: mainFont;
}

.about__heart {
    height: 12px !important;   
}